.composer
.cpanel
.htpasswds
.pki
.ssh
.trash
etc
jc
mail
perl5
public_ftp
ssl
old_public_html
tmp
vendor
www
.bash*
.contactemail
.cpanel-logs
.dns
.ftp_quota
.last_login
.vminfo
composer.lock
cpbackup-exclude.conf
error_log
.smileys
baks
cgi-bin
logg1323
log_curl.txt
footage_error.log
bglogs
.ftpquota
.lastlogin
.viminfo
logs
access-logs
aff
config.inc.php
basic_config.php
/nbproject
.htaccess
cookiefile
.cphorde/
.lesshst
.mysql_history
old_uploadfiles.tar.gz
ups/
xabghd.php
cache/
feeds/
emails.txt
