<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><!--tag:title--> - BugShieldPRO</title>
	<style type="text/css">@import url(<!--tag:folder-->js/jscalendar-1.0/calendar-win2k-1.css);</style>	
	<style type="text/css">@import url(<!--tag:folder-->styles/style_trainingarea.css);</style>
	<style media="all" type="text/css"><!--tag:css--></style>
	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" href="<!--tag:folder-->styles/ie6.css" media="screen">
	<![endif]-->
	<script type="text/javascript" src="<!--tag:folder-->js/common.js"></script>
	<script type="text/javascript">
		function disablePage(){
			openNewDiv('<img src="<!--tag:folder-->templates/images/<!--tag:waitingimage-->" align="absmiddle"> Please wait...');
			return true;
		}
	</script>
	<script type="text/javascript" src="<!--tag:folder-->js/jscalendar-1.0/calendar.js"></script>
	<script type="text/javascript" src="<!--tag:folder-->js/jscalendar-1.0/lang/calendar-en.js"></script>
	<script type="text/javascript" src="<!--tag:folder-->js/jscalendar-1.0/calendar-setup.js"></script>
</head>
<body>
<div id="wrapper">
	<div id="headerLayer"><!--tag:header--></div>
	<div id="mainmenu"><!--tag:menu--></div>
	<div id="contentContainer"><!--tag:content--></div>
	<div id="footerLayer"><!--tag:footer--></div>
</div>
<div style="display: none"><img src="<!--tag:folder-->templates/images/<!--tag:waitingimage-->"></div>
</body>
</html>