<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><!--tag:title--> - PHPMembers</title>
	<!--tag:style-->
	
	<style type="text/css">@import url(<!--tag:folder-->js/jscalendar-1.0/calendar-win2k-1.css);</style>	
	<style media="all" type="text/css">@import "<!--tag:folder-->style.css";</style>
	<style media="all" type="text/css">@import "<!--tag:folder-->menu_style.css";</style>

	
	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" href="<!--tag:folder-->ie6.css" media="screen">
	<![endif]-->
	<script type="text/javascript" src="<!--tag:folder-->js/common.js"></script>
	<script src="<!--tag:folder-->forum/jquery/jquery.js?v=2.0.11" type="text/javascript"></script>
	<script src="<!--tag:folder-->forum/jquery/jquery.livequery.js?v=2.0.11" type="text/javascript"></script>
	<script src="<!--tag:folder-->forum/jquery/jquery.form.js?v=2.0.11" type="text/javascript"></script>
	<script src="<!--tag:folder-->forum/jquery/jquery.popup.js?v=2.0.11" type="text/javascript"></script>
	<script src="<!--tag:folder-->forum/jquery/jquery.gardenhandleajaxform.js?v=2.0.11" type="text/javascript"></script>
	<script src="<!--tag:folder-->forum/jquery/global.js?v=2.0.11" type="text/javascript"></script>
	<script type="text/javascript">
		function disablePage(){
			openNewDiv('<img src="<!--tag:folder-->images/wait.gif" align="absmiddle"> Please wait...');
			return true;
		}
	</script>
	<script type="text/javascript" src="<!--tag:folder-->js/jscalendar-1.0/calendar.js"></script>
	<script type="text/javascript" src="<!--tag:folder-->js/jscalendar-1.0/lang/calendar-en.js"></script>
	<script type="text/javascript" src="<!--tag:folder-->js/jscalendar-1.0/calendar-setup.js"></script>
	<!--tag:script-->

	
</head>
<body>

<div id="headerLayer">
	<div>
		<img src="<!--tag:folder-->images/user_management.gif" alt="Globiz Solutions PHP Membership" title="Globiz Solutions PHP Membership" border="0" align="left">

	</div>
<!--tag:menu-->
</div>
<div id="contentContainer">
	<!--tag:content-->
</div>
<div id="footerLayer">
	<!--
		You must keep the license info intact, unless you put a link back to our website.
		For more details, please visit http://www.phpmembers.com/license.html and http://www.phpmembers.com/managing-the-system/4-customized-styles/18-how-to-modify-the-web-template-files.html
	-->
	<p class="copyright">
	Internet Profit Packet
	</p>
</div>
<div style="display: none"><img src="<!--tag:folder-->images/wait.gif"></div>

</body>
</html>

