<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Work From Home Opportunity</title>
<base href="{:base:}"/><link rel="Shortcut Icon" href="favicon.ico"/>
<!-- Because png matters... -->
<![if !IE]>
<link rel="stylesheet" type="text/css" href="style.css" />
<![endif]>
<!--For IE greater than 6-->
<!--[if gte IE 7]>
<link rel="stylesheet" type="text/css" href="style.css" />
<![endif]-->
<!--For IE less than or equal to 6-->
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="style_ie6.css" />
<style type="text/css">
a, input { position: relative; }
img, input { behavior: url(styles/iepngfix.htc) }
div#menu li { behavior: url(styles/menufix.htc); }	
</style>
<script type="text/javascript">
	document.write('<style type="text/css">');
	document.write("#outerwrap {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='" + document.getElementsByTagName("base").item(0).href + "images/i1.png'");
	document.write('</style>');
</script>
<![endif]-->
<script type="text/javascript">
<!--
function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}
//-->
</script>
{:head:}

</head>

<body><div id="header" style="margin-top:5px !important"><img src="images/money.png" alt="" width="800" height="86" />	<div class="left">	<h1><img src="images/logo.png" alt="Work From Home Opportunity" width="242" height="69" /></h1>		</div> <!-- left -->		<div class="right">		<h2><img width="525" height="64" src="images/earn630.png" alt="Earn 6 Figures Working From Home" /></h2>	</div> <!-- right -->	<div class="relax"></div></div> <!-- header -->
<div id="outerwrap">

	<div id="innerwrap_blank">

		<div id="contentwrap">
		
		 	<div id="menu">{:menu:}</div>
		 	<!-- NEW CONTENT GOES HERE -->
		 	{:content:}
		 	
		 </div> <!-- contentwrap -->
		
	</div> <!-- innerwrap -->

</div> <!-- outerwrap -->
<div id="footer">

	<div class="left">
		
		<p>&copy; 2010. All Rights Reserved.</p>
		
	</div> <!-- left -->
	
	<div class="right">
		<p><a onClick="void MM_openBrWindow('{:root:}terms30.php','','scrollbars=yes,resizable=yes,width=800,height=450')">Terms and Conditions</a> | <a onClick="void MM_openBrWindow('{:root:}privacy.php','','scrollbars=yes,resizable=yes,width=800,height=450')">Privacy Policy</a> | <a onClick="void MM_openBrWindow('{:root:}unsubscribe.html','','scrollbars=yes,resizable=yes,width=400,height=150')">Unsubscribe</a></p>
	</div> <!-- right -->


</div> <!-- footer -->

</body>
</html>
