<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//zh-CN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><!--tag:title--> - PHPMembers</title>
	<style type="text/css">@import url(<!--tag:folder-->js/jscalendar-1.0/calendar-win2k-1.css);</style>	
	<style media="all" type="text/css">@import "<!--tag:folder-->style.css";</style>
	<style media="all" type="text/css">@import "<!--tag:folder-->menu_style.css";</style>
	<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" href="<!--tag:folder-->ie6.css" media="screen">
	<![endif]-->
	<script type="text/javascript" src="<!--tag:folder-->js/common.js"></script>
	<script type="text/javascript">
		function disablePage(){
			openNewDiv('<img src="<!--tag:folder-->images/wait.gif" align="absmiddle"> 请等待……');
			return true;
		}
	</script>
	<script type="text/javascript" src="<!--tag:folder-->js/jscalendar-1.0/calendar.js"></script>
	<script type="text/javascript" src="<!--tag:folder-->js/jscalendar-1.0/lang/calendar-en.js"></script>
	<script type="text/javascript" src="<!--tag:folder-->js/jscalendar-1.0/calendar-setup.js"></script>
</head>
<body>

<div id="headerLayer">
	<div>
		<img src="<!--tag:folder-->images/user_management.gif" alt="Globiz Solutions PHP 用户管理" title="Globiz Solutions PHP 用户管理" border="0" align="left">
		<div id="langLayer">
			<!--tag:selectLanguage-->
		</div>
	</div>
<!--tag:menu-->
</div>
<div id="contentContainer">
	<!--tag:content-->
</div>
<div id="footerLayer">
	<!--
		你必须保持版权信息完整，除非你链接回我们的网站。
		请访问 http://www.phpmembers.com/license.html 和 http://www.phpmembers.com/managing-the-system/4-customized-styles/18-how-to-modify-the-web-template-files.html 获取更多详细信息。
	-->
	<p class="copyright">
	Powered by <a href="http://www.phpmembers.com">PHPMembers membership software</a>.<br>
	&copy; 2008 Globiz Solutions Pty Ltd 版权所有
	</p>
</div>
<div style="display: none"><img src="<!--tag:folder-->images/wait.gif"></div>

</body>
</html>

